@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


/* 👇 tus estilos globales aquí */
.btn-azul {
    background-color: #3478f6;
    color: white;
}

.texto-rojo {
    color: red;
}